// stylelint-disable selector-max-type, selector-max-specificity, selector-max-id

#contributors {
  display: flex;
}

#contributors > a {
  padding: 10px;
  background: none;
}

#contributors img {
  width: 30px;
}
